/* Temporary styling */
.temp-reviews {
    padding: 15px;
}

li.temp-show-star > img {
    height: 20px;
    width: 92px;
    padding-top: 4px;
}

.search-star {
    display: flex;
    margin: 8px 0;
}

.search-star > img {
    width: 106px;
    margin-right: 10px;
}

.search-star > p {
    font-weight: 600;
    align-self: center;
}

/* Temporary styling */