/* Temporary styling */
.temp-reviews {
    padding: 15px;
}

li.temp-show-star > img {
    height: 20px;
    width: 92px;
    padding-top: 4px;
}


img.carousel-star {
    width: 70px;
    height: 20px;
    margin-right: 10px;
}

span.carousel-star {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Temporary styling */