
.carousel-component {
    width: 100%;
}

.carousel-component hr {
    width: 100%;
}

.carousel-list {
    position: relative;
}

.carousel-list > ul {
    display: flex;
    overflow: scroll;
}

.carousel-component ul::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    width: 220px;
    height: 250px;
    margin-right: 15px;
    transition: all .3s;
}

li.carousel-item:hover {
    box-shadow: 3px 3px 5px lightgrey;
    cursor: pointer;
    transform: translatey(-3px);
}

.carousel-item img {
    /* width: 100%; */
    height: 130px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.carousel-info-block {
    border: 1px solid lightgray;
    height: 100%;
    border-radius: 0 0 5px 5px;
    padding: 8px;
}

.carousel-info-block p {
    font-weight: 600;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.rest-info-list li {
    display: inline-block;
    margin-right: 3px;
    color: #606775;
}

.rest-info-list li:after {
    content: " \00b7";
}
.rest-info-list li:last-child:after {
    content: none;
}