.left-scroll-button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgba(148, 147, 147, 0.639);
    box-shadow: 0 0 5px silver;
    background-image: image-url('arrow-icon');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px;
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    margin-top: 105px;
    margin-left: -23px;
}

.left-scroll-button:hover {
    cursor: pointer;
    border: solid 2px red
}

.right-scroll-button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgba(148, 147, 147, 0.639);
    box-shadow: 0 0 5px silver;
    background-image: image-url('arrow-icon');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px;
    transform: rotate(-90deg);
    position: absolute;
    z-index: 1;
    margin-top: 105px;
    right: -17px;
}

.right-scroll-button:hover {
    cursor: pointer;
    border: solid 2px red
}