.modal-screen-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-box {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    padding: 30px 16px;
    font-size: 16px;
    border-radius: 3px;
}

.modal-content > * {
    padding: 0 16px;
}

hr {
    border: 0.1px solid rgba(0, 0, 0, 0.07);
    width: 92%;
}

.modal-box form > input, select {
    width: 100%;
    padding: 16px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 15px;
    outline-color: silver;
}

.session-submit-button {
    width: 100%;
    background-color: #d93744;
    color: white;
    font-size: 19.5px;
    border: none;
    cursor: pointer;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: all 0.4s;
    outline-color: silver;
}

.session-submit-button:hover {
    filter: brightness(85%);
}

.demo-user-button {
    width: 396px;
    background-color: #d93744;
    color: white;
    font-size: 19.5px;
    border: none;
    cursor: pointer;
    padding: 16px;
    margin-left: 16px;
    /* overflow: hidden; */
    /* margin-bottom: 10px; */
    border-radius: 3px;
    transition: all 0.4s;
    outline-color: silver;
}

.demo-user-button:hover {
    filter: brightness(85%);
}

.modal-content span > a {
    color: #d93744;
    cursor: pointer;
}

.session-error-message {
    margin-bottom: 8px;
    color: #d93744;
    font-weight: 600;
}

.search-modal-box {
    position: absolute;
    background: white;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 30px;
    width: 1850px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}