.modal-screen-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.modal-box {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}