header.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 55px;
    width: auto;
    padding: 0 30px;
}

.header-logo {
    height: 45px;
}

ul.session-links li {
    display: inline-block;
    margin-left: 10px;
}

ul.session-links li button {
    padding: 9px 17px
}

.signup-button {
    background-color: #247f9e;
    font-weight: 300;
    color: white;
    border: none;
    border-radius: 3px;
}

.signin-button {
    background-color: transparent;
    font-weight: 300;
    color: #2d333f;
    border: 1px solid #d8d9db;
    border-radius: 3px;
} 

/* .session-links li {
    display: inline-block;
    padding: 0 20px;
}

.session-links li button {
    transition: all 0.3s ease 0s;
    font-size: 14px;
    height: 35px;
    width: 75px;
    text-align: center;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.session-links li button:hover {
    filter: brightness(85%);
}

 */