.profile-page {
    width: inherit;
    background-color: #f7f7f7;

    a {
        text-decoration: none;
        color: black;
    }

    .profile-header {
        display: flex;
        align-items: center;
        width: inherit;
        height: 80px;
        box-shadow: 0 1px 1px #eeeeee;
        background-color: white;
        
        div {
            margin-left: 180px;
        }

        h1 {
            font-size: 30px;
            text-transform: capitalize;
        }
    }

    .profile-content {
        display: flex;
        justify-content: center;
        padding: 20px;

        .profile-nav {
            width: 200px;
            height: min-content;
            display: flex;
            flex-direction: column;
            padding: 10px;
            position: sticky;
            top: 0;


            a {
                font-weight: 400;
                font-size: 16px;
                margin: 8px;
                padding: 4px;
                color: #8e8e8e;
                text-decoration: none;
            }

            a.selected {
                color: black;
            }
            a:hover {
                color: #c6000d;
                cursor: pointer;
            }
        }

        .profile-components {
            width: 1080px;
            padding: 10px;

            .component {
                width: inherit;
                min-height: 158px;
                margin-bottom: 35px;
                background-color: white;
                border-radius: 4px;

                hr {
                    margin: 0;
                }

                h1 {
                    padding: 24px;
                }

                div {
                    padding: 32px;
                }

                .no-reservations {
                    padding: 34px;
                    color: #a1a1a1;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                    }
                }

                .profile-reservation {
                    width: inherit;
                    padding: 0;

                    li {
                        display: flex;
                        width: inherit;
                        padding: 24px;

                        img {
                           width: 80px; 
                           height: 80px;
                           margin-right: 15px;
                           border-radius: 4px;
                        }
    
                        div {
                            padding: 0;
    
                            h3 {
                                font-size: 16px;
                                margin-bottom: 10px;
                            }
        
                            h4 {
                                font-size: 14px;
                                color: #6d6d6d;
                                margin-bottom: 10px;
                            }

                            .upcoming-links {
                                display: flex;

                                a {
                                    font-size: 14px;
                                    text-decoration: none;
                                    color: #237b98;
                                    margin-right: 15px;
                                }

                                a:hover {
                                    filter: brightness(70%);
                                }
                            }

                            .past-links {
                                display: flex;

                                a {
                                    font-size: 14px;
                                    text-decoration: none;
                                    color: #DA3743;
                                    margin-top: 2px;
                                    margin-right: 15px;
                                }

                                a:hover {
                                    color: rgb(179, 0, 0)
                                }

                                button {
                                    color: #DA3743;
                                    background-color: white;
                                    font-size: 14px;
                                    border: none;
                                }

                                button:hover {
                                    cursor: pointer;
                                    color: rgb(179, 0, 0);
                                }
                            }
                        }
                    }
                    
                    .review-summary {
                        padding: 16px;
                        border: 1px solid #F0F0F0;
                        border-radius: 4px;
                        margin-top: 20px;
                        color: #B6B6B6;

                        h3 {
                            font-weight: 400;
                        }

                        p {
                            line-height: 22px;
                            color: #7d7d7d;
                            margin: 15px 0;
                        }

                        div {
                            padding: 0;
                            margin-right: 30px;
                        }
                        
                        .attributes{
                            display: flex;
                            margin: 10px 0;

                            i {
                                margin-right: 5px;
                            }

                            .star-rating {
                                color: #E1E1E1;
                                width: 112px;
                                position: relative;
                                margin-top: 5px;
                                margin-right: 5px;
            
                                .top {
                                    color: #FEAB6C;
                                    position: absolute;
                                    z-index: 1;
                                    display: inline-flex;
                                    overflow: hidden;
                                }
            
                                .bottom {
                                    display: inline-flex;
                                    width: inherit;
                                    z-index: 0;
                                    overflow: hidden;
                                }
                            }
                        }
                    }

                    hr {
                        width: inherit;
                        margin: 20px 0;
                    }
                }

                .profile-favorite {
                    width: inherit;
                    padding: 0;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: inherit;
                        padding: 24px;
                        
                        .left {
                            display: flex;
                            padding: 0;

                            img {
                               width: 80px; 
                               height: 80px;
                               margin-right: 15px;
                               border-radius: 4px;
                            }
        
                            div {
                                padding: 0;
        
                                h3 {
                                    font-size: 16px;
                                    margin-bottom: 10px;
                                }
            
                                h4 {
                                    font-size: 14px;
                                    color: #6d6d6d;
                                    margin-bottom: 10px;
                                }

                                button {
                                    padding: 0;
                                    background-color: white;
                                    font-size: 14px;
                                    border: none;
                                }

                                button:hover {
                                    cursor: pointer;
                                    color: rgb(179, 0, 0);
                                }

                                i {
                                    color: #DA3743;
                                    margin-right: 5px;
                                }
    
                                .attributes {
                                    display: flex;
                                    font-size: 14px;
                                    color: #6F6F6F;
                                    margin-top: 10px;

                                    hr {
                                        width: 1px;
                                        margin: 0 7px;
                                    }
                                }
                            }
                        }

                        .restaurant-button {
                            width: 125px;
                            height: 45px;
                            text-decoration: none;
                            text-align: center;
                            line-height: 45px;
                            font-size: 14px;
                            background-color: #DA3743;
                            color: white;
                            border-radius: 4px;
                        }

                        .restaurant-button:hover {
                            filter: brightness(85%);
                        }
                    }

                    hr {
                        width: inherit;
                        margin: 20px 0;
                    }
                }
            }

        }
    }
}
