.profile-page {
    width: inherit;
    border: 1px solid black;
    background-color: #f7f7f7;

    .profile-header {
        width: inherit;
        height: 80px;
        border: solid 1px blue;
        // text-align: ;
    }
}