.reservation-confirmation {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 20px;

    .confirmation-left {
        border: 1px solid yellow;
        width: 745px;
    }

    .confirmation-right {
        border: 1px solid red;
        width: 340px;
        margin-left: 25px; 
    }
}