.reservation-confirmation {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 20px;

    .confirmation-left {
        width: 745px;

        .confirmation-summary {
            background-color: white;
            width: inherit;
            box-shadow: 0 1px 1px #eeeeee;
            border-radius: 0 0 4px 4px;
            margin-bottom: 20px;

            .confirmation-thanks {
                display: flex;
                align-items: center;
                height: 73px;
                padding: 16px 20px;
                background-color: #55b68d;
                color: white;


                div {
                    margin-left: 10px;

                    h2 {   
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }

            .reservation-details {
                display: flex;
                padding: 16px;

                span {
                    display: flex;
                    margin-bottom: 15px;
                    font-size: 17px;

                    i {
                        margin-right: 15px;
                    }
                }

                img {
                    width: 105px;
                    height: 105px;
                    margin-right: 16px;
                }

                h2 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }

        }
        
        .confirmation-details {
            padding: 24px;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 1px 1px #eeeeee;
            margin-bottom: 20px;

            span {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                i {
                    margin-right: 15px;
                    color: rgb(233, 30, 30);
                }
            }

            div {
                padding: 16px;
                border: 1px solid #dcdcdc;
                border-radius: 4px;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 17px;
                font-weight: 600;
                margin-top: 20px;
                margin-bottom: 25px;
            }

            h4 {
                font-size: 14.5px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            p {
                font-size: 14.5px;
                font-weight: 300;
                margin: 5px 0;
                line-height: 25px; 
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        .restaurant {
            display: flex;
            width: inherit;
            height: 180px;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 1px 1px #eeeeee;
            margin-bottom: 20px;

            .details {
                width: 50%;
                padding: 24px;
                border: 1px solid yellow;
            }

            .map {
                width: 50%;
                border: 1px solid blue;
            }
        }
    }

    .confirmation-right {
        border: 1px solid red;
        width: 340px;
        margin-left: 25px; 
    }
}