.reservation-confirmation {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 20px;

    .confirmation-left {
        border: 1px solid yellow;
        width: 745px;

        .confirmation-summary {
            background-color: white;
            width: inherit;

            .confirmation-thanks {
            display: flex;
            align-items: center;
            height: 73px;
            padding: 16px 20px;
            background-color: #55b68d;
            color: white;

            div {
                margin-left: 10px;

                h2 {   
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            
        }
        }
        
    }

    .confirmation-right {
        border: 1px solid red;
        width: 340px;
        margin-left: 25px; 
    }
}