.show-page img{
    height: 460px;
    width: 100%;
    /* border: 1px solid black; */
    object-fit: cover;
}

.show-page .show-content {
    display: flex;
    justify-content: center;
}

.show-left-column {
    position: relative;
    top: -50px;
    width: 640px;
    /* padding: 15px; */
    margin-right: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 0;
}

.page-links {
    padding: 15px;
    height: 50px;
    border: 1px solid black;
}

.page-links ul li{
    display: inline-block;
    margin-right: 20px;
}

.overview {
    padding: 15px;
}

.show-restaurant-details  {
    margin-bottom: 15px;
}

.show-details-list {
    margin: 13px 0;
}

.show-restaurant-details h2 {
    font-size: 45px;
}

.overview li{
    display: inline-block;
    font-weight: 600;
    margin-right: 13px;
}

#photos {
    padding: 15px;
}

.show-right-column {
    position: relative;
    top: -50px;
    width: 320px;
    padding: 15px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 0;
}