.show-page img{
    height: 430px;
    width: 100%;
    object-fit: cover;
}

.show-page .show-content {
    display: flex;
    justify-content: center;
}

.show-left-column {
    position: relative;
    top: -50px;
    width: 640px;
    margin-right: 10px;
    background-color: white;
    z-index: 0;
}

.page-nav {
    padding: 15px;
    height: 47px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: -9px;
}

.page-nav > a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-size: 14px;
    padding: 15px 0;
}

.page-nav > a:hover {
    border-bottom: red 2px solid;
    transform: translateY(1px);
}

.nav-hr {
    border: 1px solid rgba(0, 0, 0, 0.07);
    width: 95%;
    height: 2px;
    background: rgb(0 0 0 / 0%);
    position: sticky;
    top: 47px;
}

.show-hr {
    width: 100%;
}


.overview {
    padding: 15px;
}

.show-restaurant-details  {
    margin-bottom: 15px;
}

.show-details-list {
    margin: 13px 0;
}

.show-restaurant-details h2 {
    font-size: 45px;
}

.overview li{
    display: inline-block;
    font-weight: 600;
    margin-right: 13px;
}

.show-restaurant-photos {
    padding: 15px;
}

#photos {
    padding: 15px;
}

ul.photo-list {
    display: flex;
    padding: 10px 0;
}

ul.photo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    margin-bottom: 10px;
}
ul.photo-list > li > img {
    height: 12rem;
}

.show-right-column {
    position: relative;
    top: -50px;
    width: 320px;
    margin-left: 10px;
    background-color: white;
    z-index: 0;
}

.map-container {
    width: 320px;
    height: 210px;
    margin: 10px 0;
    border: 1px solid #d3d0d0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container > a {
    text-decoration: none;
}

.map-container > a > img {
    width: 310px;
    height: 155px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 18px;
}

.map-container > a > p {
    font-weight: 400;
    font-size: 14px;
    align-self: flex-start;
    margin-left: 20px;
    color: #e94848;
}

.show-right-column > h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 5px;
}

/* Menu Styling */
.show-restaurant-menu {
    padding: 15px;
}

.menu-header {
    display: flex;
}

.menu-header > li {
    padding: 7px 15px;
    border: 1px solid #dadada;
    margin-right: 16px;
    text-transform: uppercase;
}

.menu-header > li:hover {
    cursor: pointer;
}

li.active {
    border: 2px solid #e83c48;
}

ul.item-list {
    font-size: 15px;
    margin-bottom: 20px;
}

.item-bold {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 25px 0 10px;
}

/* Reservation Form */
.reservation-block {
    padding: 15px;
    height: 240px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 2px 6px lightgrey;
}

.show-reservation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-reservation > h1 {
    font-size: 21px;
    padding: 5px;
    margin-top: -5px;
    margin-bottom: -3px;
}

form.show-reservation-form {
    width: 100%;
}

div.form-top {
    height: 55px;
    padding: 5px 0;
}

.show-reservation-form p {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
}

.form-top > select {
    width: 100%;
    height: 33px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.form-top > select:hover {
    cursor: pointer;
    border-bottom: 2px solid #e83c48;
}

div.form-bottom {
    display: flex;
    justify-content: space-between;
    height: 55px;
    padding: 5px 0;
    margin-top: 7px;
}

div.bottom-input {
    width: 140px;
}

.bottom-input > input {
    width: 100%;
    height: 33px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.bottom-input > input:hover {
    cursor: pointer;
    border-bottom: 2px solid #e83c48;
}

.bottom-input > select {
    width: 100%;
    height: 33px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.bottom-input > select:hover {
    cursor: pointer;
    border-bottom: 2px solid #e83c48;
}

.show-reservation-form > button {
    width: 100%;
    height: 45px;
    padding: 5px 0;
    margin-top: 14px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #e83c48;
    border-radius: 3px;
    border: 1px solid #e83c48;
    transition: all 0.3s;
}

.show-reservation-form > button:hover {
    filter: brightness(85%);
    cursor: pointer;
}