.search-form {
    display: flex;
    justify-content: center;
    width: 950px;
    height: 50px;
}

.search-left {
    border: 1px solid #e4e3e3;
    border-radius: 5px;
    height: inherit;
    margin-right: 15px;
    overflow: hidden;
}

.search-left > input {
    height: inherit;
    width: 175px;
    text-align: right;
    border: none;
    font-size: 15px;
} 

.search-left > select {
    height: inherit;
    width: 150px;
    border: none;
    border-left: 1px solid #e4e3e3;
    font-size: 15px;
    text-align-last: center;
}   

.search-right {
    height: inherit;
}

.search-right > input {
    height: inherit;
    width: 290px;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #e4e3e3;
}

.search-right > input[type="text"] {
    padding-left: 44px;
}

.search-right > button {
    height: inherit;
    width: 145px;
    border-radius: 5px;
    border: 1px solid #d93744;
    background-color: #d93744;
    color: white;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.4s;
    cursor: pointer;
}

.search-right > button:hover {
    filter: brightness(85%);
}

