.search-form {
    display: flex;
    justify-content: center;
    height: 50px;
}

.search-div {
    margin-right: 20px;
    /* border-radius: 20px; */
}
.search-div > input {
    height: 100%;
    width: 145px;
    border: 1px solid #e4e3e3;
    text-align: center;
}

.search-div > select {
    height: 100%;
    width: 145px;
    border: 1px solid #e4e3e3;
}
.search-form > input {
    width: 230px;
    border: 1px solid #e4e3e3;
    margin-right: 20px;
    text-align: center;
}

.search-form > button {
    width: 145px;
    border: 1px solid #d93744;
    background-color: #d93744;
    color: white;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.search-form > button:hover {
    filter: brightness(85%);
}

/* .search-page .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .search-div {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* form.search-form input, select {
    width: 150px;
    height: 50px;
    margin: 5px 0;
    border: 0.5px solid #f3f3f3;
    text-align: center;
    border-radius: 0px;
} */