/* layout css */
.search-page > nav {
    background-color: rgb(28, 28, 50);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-page-columns {
    display: flex;
    justify-content: center;
}

/* filter css */
.filter-component {
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    width: 230px;
    border: 1px solid red;
}

/* restaurants css */
.search-restaurants {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    width: 800px;
    border: 1px solid blue
}

.search-restaurant-item {
    display: flex;
    margin: 20px 0;
}

.search-restaurant-item > img {
    /* border: 1px solid red; */
    height: 200px;
    width: 200px;
    margin-right: 18px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.rest-information > p {
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    color: #247f9e;
    margin-bottom: 10px;
}