.search-page .search-form {
    background-color: rgb(28, 28, 50);
}

.search-page-columns {
    display: flex;
    justify-content: center;
}

.filter-component {
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    width: 230px;
    border: 1px solid red;
}

.search-restaurants {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    width: 800px;
    border: 1px solid blue
}