.splash-search-form {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url('splash_image2.jpeg');
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-size: cover;
}