.splash-search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 420px;
    color: white;
}

.splash-search-form > h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.splash-restaurant-index {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 45px auto;
    width: 78%;
    height: 340px;
}
.splash-components {
    background-color: white;
}