.splash-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 420px;
    border: 2px solid black;
}

.splash-restaurant-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    width: 90%;
    height: 340px;
    border: 2px solid black;
}